# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
env/

# Scrapy
.scrapy/
.scrapy_jobs/
*.log

# Données (ne pas committer les données brutes)
data/raw_data.json
data/clean_data.csv

# Variables d'environnement
.env

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Playwright
playwright/.local-browsers/

# Pytest
.pytest_cache/
htmlcov/
.coverage