# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
build/
dist/
.eggs/

# Environnements
venv/
.venv/
env/
ENV/

# ===== Logs =====
*.log

# ===== Données (IMPORTANT) =====
data/
*.json
*.csv

# ===== Database =====
database/*.db
database/*.sqlite3

# (on garde init.sql versionné)
!database/init.sql

# ===== Variables d'environnement =====
.env
.env.*

# ===== Scrapy =====
.scrapy/
.scrapy_jobs/

# ===== Docker =====
.docker/

# ===== IDE =====
.vscode/
.idea/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Tests =====
.pytest_cache/
.coverage
htmlcov/

# ===== Jupyter =====
.ipynb_checkpoints